# Nuxt dev/build outputs
server/.output
server/.data
server/.nuxt
server/.nitro
server/.cache
server/dist

# CLI build outputs
cli/dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.dev.vars.example
!.dev.vars.example

# wrangler files
.wrangler
.dev.vars*

# Test database
test.db